<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="com.neueda.atm" level="all" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
        <logger name="com.spring" level="trace" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
        <logger name="org.hibernate" additivity="false" level="error">
            <AppenderRef ref="ConsoleAppender" />
        </logger>
        <Root level="error">
        </Root>
    </Loggers>
</Configuration>